.header-toolbar-phonelist {
  visibility: hidden;
}

.header-toolbar-login {
  padding: 0 30px 0 15px;
  position: absolute;
  right: 0;
}

.header-toolbar {
  height: 99px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: all .3s ease-out;
  background-color: rgba(0,0,0,0);
}

.header-toolbar-title,
.header-toolbar-list,
.header-toolbar-login {
  display: flex;
  align-items: center;
  line-height: 100%;
}


.link-decoration-remove {
  text-decoration: none;
  color: white;
}

.header-toolbar-title>* {
  @extend .link-decoration-remove;
  font-size: 30px;
  font-weight: 800;
  padding-right: 30px;
  font-family: 'Pacifico';
}

.header-toolbar-list>* {
  @extend .link-decoration-remove;
  font-size: 20px;
  font-weight: 800;
  padding: 0 15px 0 15px;
}

.header-toolbar-list>*:hover {
  color: gray;
}

.header-toolbar-account {
  display: flex;
  align-items: center;
}

.home-helpus-button{
  width: 80px;
}

@media only screen and (max-width: 732px) {

  .header-toolbar-list,
  .header-toolbar-login {
    visibility: hidden;
  }
}
