<mat-toolbar class="header-toolbar">
  <div class="header-toolbar-title">
    <!-- <a href=""><img src="https://fakeimg.pl/62/400?random=2"></a> -->
    <a href="">Friendly Hands</a>
  </div>
  <!-- <div class="header-toolbar-list">
    <a href="">運作方式</a>
    <a href="">最新消息</a>
    <a href="">幫助我們</a>
  </div> -->
  <div class="header-toolbar-login">
    <!-- <button mat-flat-button color="primary" (click)="openLoginDialog()">登入</button> -->
    <a href="javascript:void(0)" class="action-button home-helpus-button">幫助我們</a>
  </div>
  <div class="header-toolbar-phonelist">
  </div>
</mat-toolbar>
<!-- <div style="height: 99px;"></div> -->
