mat-form-field {
  width: 100%;
}

.button-row {
  width: 100%;
  line-height: 200px;
  display: flex;
  align-content: center;
}

.padding-left-remove {
  padding-left: 0px;
}

.button-row-login
{
  width: 100%;
  text-align: right;
}
