<h1 mat-dialog-title>登入</h1>
<div mat-dialog-content class="post-form">
  <mat-form-field>
    <input matInput type="email" placeholder="電子郵件地址" [(ngModel)]="this.data.Email" required email>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="密碼" [(ngModel)]="this.data.Pass" required>
    <mat-error *ngIf="this.loginError">電郵地址或密碼錯誤!</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="padding-left-remove" color="primary" (click)="onForgotClick()">忘記密碼?</button>
  <div class="button-row">
    <div>
      <button mat-button class="padding-left-remove" color="primary" (click)="onSignUpClick()">建立帳戶</button>
    </div>
    <div class="button-row-login">
      <button mat-flat-button (click)="onCancelClick()">取消</button>
      <button mat-flat-button color="primary" (click)="onLoginClick()">登入</button>
    </div>
  </div>
</div>
